body {
	margin: 0;
	padding: 0;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.background span {
	display: block;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background: rgba(0,139,139,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: -99;
}

video {
	display: block;
}

#bgvideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	/*background: url(polina.jpg) no-repeat;*/
	background-size: cover;
}

h1 {
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
	color: rgba(255,255,255, 1);
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

h2 {
	font-weight: 300;
	font-size: 13px; 
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 20px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
	transition: .5s;
}

a:hover {
	font-weight: 400;
}

h2 > i {
	color:#e74c3c;
	display:inline-block;
	font-size:1.4em;
	position:relative;
	top:.1em;
	-webkit-transform:scale(.9);
	-moz-transform:scale(.9)
	;transform:scale(.9);
	-webkit-animation:love .5s infinite linear alternate-reverse;
	-moz-animation:love .5s infinite linear alternate-reverse;
	animation: love .5s infinite linear alternate-reverse}
	@-webkit-keyframes love{to{-webkit-transform:scale(1.2)}}
	@-moz-keyframes love{to{-moz-transform:scale(1.2)}}
	@keyframes love{to{transform:scale(1.2)}}
}